<!DOCTYPE html>
<html>
<head>
    <title>User Login</title>
</head>
<body>
    <div style="text-align: center;">
        <h1>User Login</h1>
        <form action="/users/creatuser" method="post">
            <table>
                <tr>
                    <td>Username:</td>
                    <td><input type="text" name="userName" required></td>
                </tr>
                <tr>
                    <td>Password:</td>
                    <td><input type="password" name="passWord" required></td>
                </tr>
            </table>
            <br>
            <input type="submit" value="Login">
        </form>
    </div>
</body>
</html>
